---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Wave from "../components/Wave.astro";
---

<Layout title="Byteteural" linear_x="75%" linear_y="75%" footer={false}>
  <section class="flex flex-col justify-between">
    <Hero />
    <Wave />
  </section>
</Layout>
