---
import Layout from "../layouts/Layout.astro";
import WaveLayout from "../layouts/WaveLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Byteteural" header={false} footer={true}>
  <section>
    <Header />
    <Hero />
  </section>
  <WaveLayout />
</Layout>
