---
import Social from "./Social.astro";
import Conatiner from "./Container.astro";
const currentYear = new Date().getFullYear();
---

<footer>
  <Conatiner>
    <section class="my-12 flex flex-col md:flex-row justify-between items-center">
      <p class="text-center md:text-left">
        Copyright &copy; {currentYear} Byteteural | All Rights Reserved.
      </p>
      <Social />
    </section>
  </Conatiner>
</footer>
