---
import { Image } from "astro:assets";
---

<section class="my-24 max-w-7xl mx-auto">
  <div class="flex flex-wrap items-center">
    <div class="w-full md:w-1/2">
      <h1 class="dropshadow text-gradient font-bold mb-4 text-8xl">
        Byteteural
      </h1>
      <p class="mb-4 text-4xl">
        We <span class="text-red-600">take care</span> you work like our child
      </p>
    </div>
    <div class="w-full md:w-1/2">
      <Image
        src="https://placedog.net/500/500"
        alt="Image"
        width={500}
        height={500}
        class="float-right rounded-3xl"
      />
    </div>
  </div>
</section>

<style>
  .dropshadow {
    filter: drop-shadow(0px 0px 54px #959bf0);
  }
  .text-gradient {
    background: linear-gradient(120deg, #ff00ff, 25%, #00ffff);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
